{% extends "html5.html" %}

{% load cadocms_tags %}

{% block seo_title %}{% setting 'CADO_NAME' %}{% endblock %}

{% block html_body %}

	<div class="navbar">
		<div class="navbar-inner">
			<div class="container">
			
				<a class="brand" href="/">{% setting 'CADO_NAME' %}</a>
				
				<ul class="nav" id="main-menu-left">
					<li class="dropdown">
						<a class="dropdown-toggle" data-toggle="dropdown" href="#">dropdown menu<b class="caret"></b></a>
						<ul class="dropdown-menu">
							<li><a href="{% url "cadocms.views.staticpage" url='staticpage1' %}">some static page</a></li>
							<li class="divider"></li>
							<li><a href="{% url "cadocms.views.staticpage" url='staticpage2' %}">some static page</a></li>
						</ul>
					</li>
					<li class="divider-vertical"></li>
					<li><a href="{% url "cadocms.views.staticpage" url='staticpage3' %}">some static page</a></li>
				</ul>
			</div>
		</div>
	</div>
	
	<div class="container">
		<div class="row">		
			<div id="content" class="span9 content">
				{% block content %}
				
				{% endblock %}
			</div>
			<div class="span3">
				{% block sidebar %}
				
				{% endblock %}
			</div>
	
		</div>
	</div>
	
	<div id="footer">
		<div class="container clearfix">
			<p class="muted credit pull-right">Copyright &copy; {% setting 'CADO_NAME' %}.</p>
		</div>
	</div>
	
{% endblock %}