{% extends "base.html" %}

{% load cadocms_tags %}

{% block content %}

	<h1>index</h1>
	{% chunk 'INDEX' %}
	<ul>
		{% for item in myobjects %}
		<li>
		<a href="{{ item.get_absolute_url }}">item {{item.id}}</a>
		</li>
		{% endfor %}
	</ul>

{% endblock %}